@import './styles/lightning/scss/index-vf.scss';
@import './styles/mixins/icon.scss';
@import './styles/variables.scss';

body {
  margin: 0;
  padding: 0;
}

.check {
  @extend .icon;
  background-image: url("./styles/icons/check.svg");
}