{
  "presets": ["es2015"],
  "plugins": [
    "transform-runtime",
    "add-module-exports",
    "syntax-async-functions",
    "syntax-export-extensions",
    "transform-export-extensions",
    "transform-object-rest-spread",
    "transform-async-to-generator"
  ]
}